body{
  margin: 0;
}

.telaManutencao {
  display: flex;
  gap: 30px;
  height: 100vh;
  
}

.adicionarManutenção{
  width: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.form-container{
  height: 200px;
  padding: 20px;
  gap: 15px;
}

.form-group{
  padding: 5px;
}

.form-group select,input{
  width: 200px;
  margin-left: 5px;
}

.buscarManutencao{
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.buscarManutencao table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
 
.input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 
.buttons {
  background-color: #C62828;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
.buttons:hover {
  background-color: #b63030;
}

thead {
  background-color: #C62828;
  color: white;
}
 
th, td {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
 
tbody tr:hover {
  background-color: #f1f5f9;
}